<section class="index-profile">
  <section class="top">
		<figure class="mini-banner">
			<img src="<%= Chattr.currentUser.get("banner_url") %>">
		</figure>
    <figure class="avatar">
    	<img src="<%= Chattr.currentUser.get("avatar_url") %>">
    </figure>
  </section>
	
  <a href="#">
		<section class="names">
	    <div class="fullname"><%= Chattr.currentUser.get("fullname") %></div>
	    <div class="username"><%= Chattr.currentUser.get("_username") %></div>
	  </section>
	</a>

  <section class="bottom titles">
    <div class="count-title">
			POSTS
		</div>
    <div class="count-title">
			FOLLOWING
		</div>
    <div class="count-title">
			FOLLOWERS
		</div>
  </section>

  <section class="bottom counts">
    <div class="post count">
			<a href="/#users/<%= Chattr.currentUser.id %>/posts">
				<%= Chattr.currentUser.get("post_count") %>
			</a>
		</div>
    <div class="following count">
			<a href="/#users/<%= Chattr.currentUser.id %>/following">
				<%= Chattr.currentUser.get("following_count") %>
			</a>
		</div>
    <div class="follower count">
			<a href="/#users/<%= Chattr.currentUser.id %>/followers">
				<%= Chattr.currentUser.get("follower_count") %>
			</a>
		</div>
  </section>

  <form class="new-post closed" action="#">
    <textarea
      placeholder="Compose new Post..."
      name="post[content]"></textarea>
      <button class="inactive">Post!</button>
  </form>
  <span class="char-counter"></span>
</section>