<section class="profile-banner">
	<figure class="banner">
	</figure>
</section>

<section class="profile-nav-ribbon stretch">
</section>

<section class="profile-nav-ribbon">
	<figure class="ribbon">
		<ul class="profile-nav">
			<li class="left">
        <a href="#">Posts</a>
      </li>
			<li class="left">
        <a href="#">Following</a>
      </li>
			<li class="left">
        <a href="#">Followers</a>
      </li>
			<li class="left">
        <a href="#">Favorite Posts</a>
      </li>
			<li class="left">
        <a href="#">Favorite Users</a>
      </li>
			<% if (Chattr.currentUser.id === user.id) { %>
			  <li class="right">
					<a href="#">Edit</a>
					</li>
			<% } %>
		</ul>
	</figure>
</section>

<main id="main-content">
	<section class="main-user-info">
		<figure class="avatar-large">
			<img src="<%= user.get("avatar_url") %>">
		</figure>
			
	  <div class="fullname"><%= user.get("fullname") %></div>
	  <div class="username"><%= user._username() %></div>
	  <div class="join-date">Joined <%= user.get("join_date") %></div>
	  <div class="bio"><%= user.get("bio") %></div>
	  <% if (Chattr.currentUser.id !== user.id) { %>
	    USER FOLLOW FORM
	  <% } %>
	</section>
</main>

<section class="posts-container">
	<header class="title"><h2>Posts BACKBONE</h2></header>

  <% posts.each( function(post) { %>
  <article class="post group"data-id="<%= post.id %>">
    <figure class="avatar">
    </figure>

    <section class="post-container">
      <section class="post-info">
        <div class="fullname"><%= post.author().get("fullname") %></div>
        <div class="username"><%= post.author()._username() %></div>
        <div class="timestamp"><%= post.get("timestamp") %></div>
      </section>

      <% if (post.author().id === Chattr.currentUser.id ) { %>
        <span class="delete-post">&times;</span>
      <% } %>

      <section class="post-content">
        <div class="text"><%= post.get("content") %></div>

        <section class="buttons-container">
          <form action="#">
            <input type="hidden"
                   name="post[parent_post_id]"
                   value="<%= post.id %>">
            <button class="reply post-option"
              data-post-id="<%= post.id %>">Reply</button>
          </form>

          <form action="#">
            <input type="hidden"
                   name="post[content]">
            <button class="repost post-option"
              data-post-id="<%= post.id %>">Repost</button>
          </form>

          <form action="#">
            <input type="hidden"
                   name="fav[favoriteable_id]"
                   value="<%= post.id %>">
            <input type="hidden"
                   name="fav[favoriteable_type]"
                   value="Post">
            <button class="favorite post-option"
              data-post-id="<%= post.id %>">
              <% if (post.get("favorited")) { %>
                Unfavorite
              <% } else { %>
                Favorite
              <% } %>
            </button>
          </form>
        </section>

        <form class="new-post reply-form closed">
          <input type="hidden"
                 name="post[parent_post_id]"
                 value="<%= post.id %>">
          <textarea
            class="new-inline-post closed"
            name="post[content]"
            placeholder="Reply to this post..."></textarea>
          <button>Post Reply!</button>
        </form>

        <form class="new-post repost-form closed">
          <textarea
            class="new-inline-post"
            name="post[content]"><%= post.formatForRP() %></textarea>
          <button>Post!</button>
        </form>
        <span class="char-counter"></span>

      </section>
    </section>
  </article>
  <% }) %>
</section>
