<section class="index-profile">
  <section class="top">
    <div class="avatar"></div>
  </section>
  <section class="names">
    <div class="fullname"><%= currentUser.get("fullname") %></div>
    <div class="username"><%= currentUser.get("_username") %></div>
  </section>

  <section class="bottom titles">
    <div class="count-title">POSTS</div>
    <div class="count-title">FOLLOWING</div>
    <div class="count-title">FOLLOWERS</div>
  </section>

  <section class="bottom counts">
    <div class="post count"><%= currentUser.get("post_count") %></div>
    <div class="following count"><%= currentUser.get("following_count") %></div>
    <div class="follower count"><%= currentUser.get("follower_count") %></div>
  </section>

  <form class="new-post closed" action="#">
    <textarea
      placeholder="Compose new Post..."
      name="post[content]"></textarea>
      <button class="inactive">Post!</button>
  </form>
  <span class="char-counter"></span>
</section>

<section class="posts-container">
  <header class="title"><h2>Posts BACKBONE</h2></header>

  <% posts.each( function(post) { %>
  <article class="post group"data-id="<%= post.id %>">
    <figure class="avatar">
    </figure>

    <section class="post-container">
      <section class="post-info">
        <div class="fullname"><%= post.author().get("fullname") %></div>
        <div class="username"><%= post.author()._username() %></div>
        <div class="timestamp"><%= post.get("timestamp") %></div>
      </section>

      <% if (post.author().id === currentUser.id ) { %>
        <span class="delete-post">&times;</span>
      <% } %>

      <section class="post-content">
        <div class="text"><%= post.get("content") %></div>

        <section class="buttons-container">
          <form action="#">
            <input type="hidden"
                   name="post[parent_post_id]"
                   value="<%= post.id %>">
            <button class="reply post-option"
              data-post-id="<%= post.id %>">Reply</button>
          </form>

          <form action="#">
            <input type="hidden"
                   name="post[content]">
            <button class="repost post-option"
              data-post-id="<%= post.id %>">Repost</button>
          </form>

          <form action="#">
            <input type="hidden"
                   name="fav[favoriteable_id]"
                   value="<%= post.id %>">
            <input type="hidden"
                   name="fav[favoriteable_type]"
                   value="Post">
            <button class="favorite post-option"
              data-post-id="<%= post.id %>">
              <% if (post.get("favorited")) { %>
                Unfavorite
              <% } else { %>
                Favorite
              <% } %>
            </button>
          </form>
        </section>

        <form class="new-post reply-form closed">
          <input type="hidden"
                 name="post[parent_post_id]"
                 value="<%= post.id %>">
          <textarea
            class="new-inline-post closed"
            name="post[content]"
            placeholder="Reply to this post..."></textarea>
          <button>Post Reply!</button>
        </form>

        <form class="new-post repost-form closed">
          <textarea
            class="new-inline-post"
            name="post[content]"><%= post.formatForRP() %></textarea>
          <button>Post!</button>
        </form>
        <span class="char-counter"></span>

      </section>
    </section>
  </article>
  <% }) %>
</section>
