
  <div class="title"><h2>Posts BACKBONE</h2></div>
  <% posts.each( function(post) { %>
  <article class="post">
    <figure class="avatar">
    </figure>
    <section class="post-info group">
      <div class="fullname"><%= post.author().get("fullname") %></div>
      <div class="username"><%= post.author()._username() %></div>
      <div class="timestamp"><%= post.get("timestamp") %></div>
    </section>

    <section class="post-container">
      <section class="post-content">
        <div class="text"><%= post.get("content") %></div>
        <section class="buttons-container">
          <form action="#">
            <input type="hidden"
                   name="post[parent_post_id]"
                   value="<%= post.id %>">
            <button class="post-option">Reply</button>
          </form>

          <form action="#">
            <input type="hidden"
                   name="post[content]">
            <button class="post-option">Repost</button>
          </form>

          <form action="#">
            <input type="hidden"
                   name="fav[favoriteable_id]"
                   value="<%= post.id %>">
            <input type="hidden"
                   name="fav[favoriteable_type]"
                   value="Post">
            <button class="post-option">Favorite</button>
          </form>
        </section>
      </section>
    </section>

  </article>
  <% }) %>
