<% if current_user.follows?(user) %>

<form action="<%= user_follows_url %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="user_follow[user_id]" value="<%= user.id %>">
  <%= render 'shared/auth_token' %>
  <button class="follow-toggle">Unfollow this User</button>
</form>

<% else %>
<form action="<%= user_follows_url %>" method="POST">
  <input type="hidden" name="user_follow[user_id]" value="<%= user.id %>">
  <%= render 'shared/auth_token' %>
  <button class="follow-toggle">Follow this User</button>
</form>

<% end %>