<section class="profile-banner">
	<figure class="banner">
	</figure>
</section>

<section class="profile-nav-ribbon stretch">
</section>

<section class="profile-nav-ribbon">
	<figure class="ribbon">
		<ul class="profile-nav">
			<li class="left">
        <a href="<%= user_url(@user) %>">Posts</a>
      </li>
			<li class="left">
        <a href="<%= user_profile_following_url(@user) %>">Following</a>
      </li>
			<li class="left">
        <a href="<%= user_profile_followers_url(@user) %>">Followers</a>
      </li>
			<li class="left">
        <a href="<%= user_profile_favorite_posts_url(@user) %>">Favorite Posts</a>
      </li>
			<li class="left">
        <a href="#">Favorite Users</a>
      </li>

			<% if current_user.id == @user.id %>
			  <li class="right">
					<a href="<%= edit_user_url(current_user) %>">Edit Profile</a>
					</li>
			<% end %>
		</ul>
	</figure>
</section>

<main class="main-content">
	<section class="main-user-info">
		<figure class="avatar-large">
			<div></div>
		</figure>
	  <div class="fullname"><%= @user.fullname %></div>
	  <div class="username"><%= @user._username %></div>
	  <div class="join-date">Joined <%= @user.join_date %></div>
	  <% unless current_user.id == @user.id %>
	    <%= render 'users/follow_form', user: @user %>
	  <% end %>
	</section>

  <% if @profile_type == 'posts' %>
    <%= render 'show_posts', user: @user %>
  <% end %>

  <% if @profile_type == 'following' %>
    <%= render 'show_following', user: @user %>
  <% end %>

  <% if @profile_type == 'followers' %>
    <%= render 'show_followers', user: @user %>
  <% end %>

  <% if @profile_type == 'favorite_posts' %>
    <%= render 'show_favorite_posts', user: @user %>
  <% end %>