<header id="site-header" class="site-header group">
    <ul class="site-header-nav">
  <% if signed_in? %>
	<script>
		$(function () {
			$('body').removeClass('unsigned')
			$('#current-user').prop("href", "/#users/" + <%= current_user.id %>)
			$('#home').prop("href", "/#")
			
			var $dropdownParent = $('.dropdown-parent')
			var $dropdown = $('<ul>')
			var $myProfileLi = $('<li>')
			var $editUserLi = $('<li>')
			var $signOutLi = $('<li>')
			
			var $oldSignOut = $('#sign-out')
			var $myProfile = $('<a>')
			var $editUser = $('<a>')
			
			$dropdown.addClass('user-menu')
			$oldSignOut.addClass("in-dropdown")
			$myProfile.prop("href", "/#users/" + <%= current_user.id %> )
			$editUser.prop("href", "/users/" + <%= current_user.id %> + "/edit")
			$myProfile.text("My Profile")
			$editUser.text("Edit Profile")
			$editUser.addClass("in-dropdown")
			$myProfile.addClass("in-dropdown")
			
			$signOutLi.append($oldSignOut)
			$editUserLi.append($editUser)
			$myProfileLi.append($myProfile)
			
			$('#sign-out').remove()
			$('#edit-user').remove()
			
			$dropdown.append($myProfileLi);
			$dropdown.append($editUserLi);
			$dropdown.append($signOutLi);
			
			$dropdownParent.append($dropdown)
			
			$dropdownParent.on("click", function (event) {
				if ( $(event.target).parents('.user-menu').length > 0 ) {
					return;
				}
				
				event.preventDefault();	
				$dropdown.addClass("active transitioning")
				
				window.setTimeout( function () {
					$dropdown.removeClass("transitioning")
				}, 0)
			})
			
			$(window).on("mouseup", function (event) {
				if ( $(event.target).parents('.user-menu').length > 0) {
					return;
				}
				
				$dropdown.removeClass("active")
			})
		})
	</script>
      <li class="left"><a id="home" href="<%= root_url %>">Home</a></li>
      <!-- <li class="left"><a id="notifications" href="#">Notifications</a></li> -->
      <li class="left"><a id="messages" href="/#hashtags">#Discover</a></li>
      <li class="right"><a id="new-post" href="<%= new_post_url %>">New Post</a></li>

      <li class="right">
        <form id="sign-out" action="<%= session_url %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <%= render 'shared/auth_token' %>
          <button class="sign-out">Sign Out</button>
        </form>
      </li>

      <li class="right dropdown-parent">
        <a id="current-user" class="avatar" href="<%= user_url(current_user) %>">
        	<img id="user-dropdown" src="<%= current_user.avatar_url %>">
        </a>
      </li>

      <li class="right" id="search-container">
        <form id="search" action="<%= user_search_url %>" class="search-chattr" method="POST">
          <%= render 'shared/auth_token' %>
          <input type="search" name="search[string]" placeholder="Search chattr">
        </form>
				<div class="search-results">
					<ul class="users">
					</ul>
				</div>
      </li>

  <% else %>
	<script>
		$(function () {
			$('body').addClass('unsigned')
		})
	</script>
	    <li class="right"><a id="sign-in" href="<%= new_session_url %>" class="right">Sign In</a></li>
	    <li class="right"><a id="sign-up" href="<%= new_user_url %>" class="right">Sign Up</a></li>
	<% end %>
	  <li class="middle" id="site-header-logo">
			<%= image_tag("logos/chattr-logo.png") %>
		</li>
	</ul>
</header>
