<header id="site-header" class="site-header group">
    <ul class="site-header-nav">
  <% if signed_in? %>
	<script>
		$(function () {
			$('body').removeClass('unsigned')
			$('#current-user').prop("href", "/#users/" + <%= current_user.id %>)
			$('#home').prop("href", "/#")
		})
	</script>
      <li class="left"><a id="home" href="<%= root_url %>">Home</a></li>
      <li class="left"><a id="notifications" href="#">Notifications</a></li>
      <li class="left"><a id="messages" href="#">Messages</a></li>



      <li class="right"><a id="new-post" href="<%= new_post_url %>">New Post</a></li>

      <li class="right">
        <form id="sign-out" action="<%= session_url %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <%= render 'shared/auth_token' %>
          <button class="sign-out">Sign Out</button>
        </form>
      </li>

      <li class="right">
        <a id="current-user" href="<%= user_url(current_user) %>">
        <%= current_user._username %>
        </a>
      </li>

      <li class="right" id="search-container">
        <form id="search" action="<%= user_search_url %>" class="search-chattr" method="POST">
          <%= render 'shared/auth_token' %>
          <input type="search" name="search[string]" placeholder="Search chattr">
        </form>
				<div class="search-results">
					<ul class="users">
					</ul>
				</div>
      </li>

  <% else %>
	<script>
		$(function () {
			$('body').addClass('unsigned')
		})
	</script>
	    <li class="right"><a id="sign-in" href="<%= new_session_url %>" class="right">Sign In</a></li>
	    <li class="right"><a id="sign-up" href="<%= new_user_url %>" class="right">Sign Up</a></li>
	<% end %>
	  <li class="middle" id="site-header-logo">
			<%= image_tag("logos/chattr-logo.png") %>
		</li>
	</ul>
</header>
