<form class="user-form" action="<%= url %>" method="POST">
  <% unless form_method == "POST" %>
    <input type="hidden" name="_method" value="<%= form_method %>">
  <% end %>

  <%= render 'shared/auth_token' %>

  <% if form_type == "new_user" || form_type == "edit_user" %>
	<div class="form-group group">
	  <label for="fullname">Full Name</label>
		<input type="text"
					 id="fullname"
					 name="user[fullname]"
					 placeholder="Enter your Full Name"
					 value="<%= @user.fullname %>">
	</div>

	<div class="form-group group">
	  <label for="email">Email</label>
	  <input type="text"
	    		 id="email"
	    		 name="user[email]"
	    		 placeholder="Enter your Email"
	    		 value="<%= @user.email %>">
	</div>
  <% end %>

	<div class="form-group group">
		<label for="username">Username</label>
		<input type="text"
					 id="username"
					 name="user[username]"
					 placeholder="Enter your username"
					 value="<%= @user.username %>">
	</div>

  <% if form_type == "edit_user" %>
	<label for="username">Bio</label>
	<div class="form-group group">
		<textarea id="bio"
					 name="user[bio]"
					 placeholder="Enter a short biography"
					 value="<%= @user.bio %>"></textarea>
	</div>
  <% end %>

	<div class="form-group group">
		<label for="password">Password</label>
		<input type="password"
		 			 id="password"
					 name="user[password]"
					 placeholder="Enter your password">
	</div>

  <% if form_type == "edit_user" %>
	<div class="form-group group">
		<label for="password_confirmation">Password Confirmation</label>
		<input type="password"
		 			 id="password_confirmation"
					 name="user[password_confirmation]"
					 placeholder="Confirm your password">
	</div>
         <% end %>
	<div class="form-group group">
		<button id="sign-in" class="submit"><%= button_name %></button>
	</div>
</form>
