<form action="<%= new_post_url %>" method="POST">
  <input type="hidden" name="post[parent_post_id]" value="<%= post.id %>">
  <button class="post-option">Reply</button>
</form>

<form action="<%= posts_url %>" method="POST">
  <%= render 'shared/auth_token' %>
  <input type="hidden" name="post[content]"
         value="<%= post.format_RP(post.content) %>">
  <button class="post-option">Repost</button>
</form>

<form action="<%= posts_url %>" method="POST">
  <button class="post-option">Favorite</button>
</form>