<article class="post group">
  <figure class="avatar">

  </figure>

  <section class="post-container">
    <section class="post-info group">
      <div class="fullname">
        <a href="<%= user_url(post.author) %>">
          <%= post.author.fullname %>
        </a>
      </div>
      <div class="username">
        <a href="<%= user_url(post.author) %>">
          <%= post.author._username %>
        </a>
      </div>
      <div class="timestamp">
        <%= time_ago_in_words(post.created_at) %> ago
      </div>
    </section>

    <% if post.author.id == current_user.id  %>
      <span class="delete-post">&times;</span>
    <% end %>

    <section class="post-content">
      <div class="text">
        <a href="<%= post_url(post) %>"><%= post.content %></a>
      </div>
      <section class="buttons-container">
        <%= render "posts/post_options", post: post %>
      </section>
    </section>
  </section>

</article>
