<!DOCTYPE html>
<html>
<head>
  <title>chattr</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<main id="all-content">

  <section id="body-top">
    <%= render 'shared/site_header' %>
    <%= render 'shared/flash_messages' %>
  </section>

  <section id="body-bottom">
    <%= yield %>
  </section>

</main>

</body>
</html>
