<!DOCTYPE html>
<html>
<head>
  <title>chattr</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/site_header' %>

<%= render 'shared/flash_messages' %>
<main id="all-content">
  <%= yield %>
</main>

</body>
</html>
